<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script>

    function showGearBoxes(dtoList){

        var gearList = $(".gear-data-boxes");
        var str = "";

        console.info(dtoList);

        $.each(dtoList, function (i, dto){

            str += '<div class="col-sm-6 col-md-3 col-lg-2 gear-boxes">';
            if (dto.state == '0'){
                str += '<div class="card selecting-gear" style="height: 100%" data-gno="'+dto.gno+'">';
            }else if (dto.state == '1'){
                str += '<div class="card on-the-market unable-gear" style="height: 100%">';
            }

            if (dto.gearImageDTOList[0] !== null){
                str += "<img class='card-img-top' src='"+dto.gearImageDTOList[0]?.thumbnailS3URL+"' data-gno='"+dto.gno+"'>";
            }else {
                str += "<img class='card-img-top' src='/icon/img3.svg' style='height: 100%' data-gno='"+dto.gno+"'>";
            }

            str += '<div class="card-body gear-script">'
            if(dto.state == '1'){
                str += '    <p class="card-title">'+dto.gname+' <b>[중고거래중]</b></p>';
            }else if(dto.state == '0'){
                str += '    <p class="card-title">'+dto.gname+'</p>';
            }

            // str += '<ul class="list-group list-group-flush">';
            // if(dto.brand){
            //     str += '    <li class="list-group-item" >'+dto.brand+'</li>';
            // }
            // if(dto.sort){
            //     str += '    <li class="list-group-item">'+dto.sort+'</li>';
            // }
            // str += '</ul>';
            str += '</div>';
            str += '</div>';
            str += '</div>';

        }) // dtoList each

        gearList.html(str);
    } // showGearBoxes


</script>

</body>
</html>