<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        form{
            display: flex;
            flex-direction: column;
        }

        ul {
            list-style: none;
        }

        .titleAndSearchBox{
            display: flex;
            flex-direction: row;
            margin: 10px 0px 14px 0px;
            padding: 0px;
        }




        .gear-div-img img{
            height: 93%;
        }




        .loadGear-img-box a{
            width: 100%;
        }


        .gear-info span{
            margin-bottom: 2px;
        }


        .telling-box div{
            display: flex;
            flex-direction: row;

        }

        .gear-boxes{
            height: 320px;
        }

        .content{
            margin-top: 25px;
        }

        .pagination{
            margin-top: 18px;
        }

        .btnBox{
            display: flex;
            margin-top: 25px;
            justify-content: center;
        }

        .inputTitle{
            margin-right: 30px;
        }

        .categorySelector{
            width: 20em;
        }

        .page-info-div{
            display: flex;
            justify-content: end;
            margin-bottom: 20px;

        }
    </style>


</head>

    <div class="container-lg content" layout:fragment="content">
        <div class="page-info-div" th:if="${tellCategory == 'secondHands'}">
        <button class="btn btn-info page-info">페이지 설명</button>
        </div>

        <form th:action="@{/board/register}" method="post">


            <div class="row g-3 gear-data-boxes"></div>
            <div class="col-md-12 list-pagination">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item">

                    </li>
                </ul>
            </div>
            <div style="display: none" class="register-hidden-for-state">

            </div>


            <div class="titleAndSearchBox">
                <input name="title" type="text" class="form-control inputTitle" placeholder="TITLE" required>
<!--                <input name="title" type="text" class="form-control inputTitle" placeholder="TITLE" th:unless="${tellCategory == 'secondHands'}" >-->
                <input th:if="${tellCategory == 'secondHands'}" class="form-control categorySelector" type="text" name="category" value="secondHands" readonly>
                <select th:unless="${tellCategory == 'secondHands'}" class="form-control categorySelector" aria-label="Default select example" name="category" style="width: 20em;" required>
                    <option value="">-------카테고리 선택-------</option>
                    <option th:selected="${tellCategory == 'talk'}" value="talk">잡담</option>
                    <option th:selected="${tellCategory == 'party'}" value="party">모임</option>
                    <option th:selected="${tellCategory == 'place'}" value="place">캠핑장</option>
                </select>
            </div>

            <textarea id="summernote" placeholder="CONTENT" name="content" required></textarea>
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"
                    integrity="sha256-5slxYrL5Ct3mhMAp/dgnb5JSnTYMtkr4dHby34N10qw=" crossorigin="anonymous"></script>
            <!-- language pack -->
            <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/lang/summernote-ko-KR.min.js"
                    integrity="sha256-y2bkXLA0VKwUx5hwbBKnaboRThcu7YOFyuYarJbCnoQ=" crossorigin="anonymous"></script>

            <script>
                $(document).ready(function() {

                    var targetImageList = [];

                    $('#summernote').summernote({
                        height: 600,
                        lang: "ko-KR",
                        maximumImageFileSize: 10485760,
                        callbacks:{
                            onImageUpload: function (files, editor, welEditable){
                                for (var i = files.length -1; i >= 0; i--){
                                    console.info(files[i]);
                                    uploadImageFiles(files[i], this);
                                } //for
                            }, // onImageUpload
                            onMediaDelete: function (target){

                                var fileName = target.attr('src');

                                fileName = fileName.substring(fileName.lastIndexOf("/") +1);

                                var targetS3 = target.attr('src');

                                console.log("fileName: " + fileName);
                                console.log("targetS3: " + targetS3);

                                targetImageList.forEach(function (i){

                                    console.log(targetImageList);
                                    console.log(i);

                                    var targetName = i;

                                    if (i == targetS3){

                                        var targetLI = $("li[name='"+fileName+"']");

                                        targetLI.remove();

                                        $.ajax({
                                            url: '/removeS3',
                                            data: {files: fileName},
                                            dataType: 'text',
                                            type: 'delete',
                                            success: function (result){
                                            }
                                        })
                                    }
                                }); // targetImageList forEach
                            } // onMediaDelete
                        } // callbacks
                    }); // summernote

                    function uploadImageFiles(files, el){

                        var formData = new FormData();

                        formData.append("uploadFiles", files);

                        $.ajax({
                            url: '/uploadAjax',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            type: 'POST',
                            success:function (result){
                                console.info(result);
                                uploadResultUL(result);
                            },
                            error: function (jqXHR, textStatus, errorThrown){
                                console.info(textStatus);
                            }
                        }); // ajax
                    } // function uploadImageFiles

                    function uploadResultUL(result){

                        var uploadResultUL = $(".uploadResultUL ul");
                        var str = "";

                        $(result).each(function (i, dto){

                            str += '<li data-path="'+dto.folderPath+'" ' +
                                'data-uuid="'+dto.uuid+'" ' +
                                'data-name="'+dto.fileName+'" ' +
                                'name="'+dto.uuid+'_'+dto.fileName+'" data-s3Url="'+dto.s3Url+'" data-tell="new"></li>';

                            // var imageURL = dto.imageURL;
                            //
                            // console.log("imageURL: " + imageURL);

                            $('#summernote').summernote('insertImage', dto.s3Url);

                            var s3Url = dto.s3Url;
                            console.log(s3Url)

                            targetImageList.push(s3Url);
                            console.log(targetImageList);

                        }); // result each

                        uploadResultUL.append(str);

                    }; // function uploadResultUL

                }); // the end
            </script>

            <div class="col-md-12 col-sm-12" style="display: none">
                <input name="email" type="hidden" class="form-control inputEmail" placeholder="EMAIL" th:value="${#authentication.principal.username}" readonly>
            </div>
            <div class="hiddenBox">

            </div>
            <div class="hidden-gear-box">

            </div>
            <div class="col-md-12 col-sm-12 btnBox">
                <button class="btn btn-outline-primary registerBtn">글작성</button>
            </div>
        </form>
        <div class="uploadResultUL" style="display: none">
            <ul>

            </ul>
        </div>

        <!--/ introduce my project modal /-->
        <div class="modal intro-myProject" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body intro-myProject-list">
                        <div style="display: flex;">
                            <span class="material-symbols-outlined">arrow_right</span><p>유저가 등록한 장비를 비동기 방식으로 불러 옵니다.</p>
                        </div>
                        <div style="display: flex;">
                            <span class="material-symbols-outlined">arrow_right</span><p>장비를 선택하면 에디터에 정보 및 이미지가 업데이트 됩니다.</p>
                        </div>
                        <div style="display: flex;">
                            <span class="material-symbols-outlined">arrow_right</span><p>중고거래 게시물을 등록하면 등록된 장비는 거래 중 상태로 변경 됩니다. (마이기어 페이지에서 확인가능)</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary reading-gear-close" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script th:inline="javascript"  layout:fragment="script">

    const errors = [[${errors}]]
    console.info(errors)

    let errorMsg = ''

    if (errors){
        errorMsg = '제목이 너무 짧거나 또는 내용 및 카테고리를 입력해주세요'
        // for(let i =0; i < errors.length; i++){
        //     errorMsg += `${errors[i].field}은(는) ${errors[i].code}\n`
        // }
        alert(errorMsg);
    }

    $(document).ready(function (){

        var email = [[${#authentication.principal.username}]];

        var checkCategory = [[${tellCategory}]];
        console.log(checkCategory);

        // 게시판 작성 버튼 이벤트
        $(".registerBtn").on("click", function (e){

            e.preventDefault();

            var hiddenGearBox = $("input[name='state']").val();

            if (checkCategory == 'secondHands' ){

                if(!hiddenGearBox == '1'){
                    console.log("hiddenGearBox != 1")
                    alert('중고 장비를 선택해주세요.');
                    return false;
                }
                if(hiddenGearBox == '1'){
                    console.log("hiddenGearBox == 1")
                }

                var str = "";

                $(".uploadResultUL li").each(function (i, dto){

                    var target = $(dto);

                    str += '<input type="hidden" name="boardImageDTOList['+i+'].folderPath" value="'+target.data("path")+'">';
                    str += '<input type="hidden" name="boardImageDTOList['+i+'].uuid" value="'+target.data("uuid")+'">';
                    str += '<input type="hidden" name="boardImageDTOList['+i+'].fileName" value="'+target.data("name")+'">';
                    str += '<input type="hidden" name="boardImageDTOList['+i+'].s3Url" value="'+target.data("s3url")+'">';

                });

                $(".hiddenBox").html(str);
                $("form").submit();

            }


        }); // register btn clicking event


        // 기어리스트 박스 업로드 function
        if (checkCategory == 'secondHands'){

            loadGearBoxes(1);

            function loadGearBoxes(page){

                console.log("page: " + page)

                var testing = "junghwan";

                $.getJSON('/gear/pagination/' + email +"/"+ page, function (data){

                    console.log(data.dtoList);
                    console.log(data);
                    // 기어리스트 DTO 업로드
                    showGearBoxes(data.dtoList);
                    // pagination 업로드
                    makingPagination(data);
                })
            }
        }

        // 기어리스트 DTO 업로드
        function showGearBoxes(dtoList){

            var gearList = $(".gear-data-boxes");
            var str = "";

            console.info(dtoList);

            $.each(dtoList, function (i, dto){

                str += '<div class="col-sm-6 col-md-3 col-lg-2 gear-boxes">';
                if (dto.state == '0'){
                    str += '<div class="card selecting-gear" style="height: 100%" data-gno="'+dto.gno+'">';
                }else if (dto.state == '1'){
                    str += '<div class="card on-the-market unable-gear" style="height: 100%">';
                }

                if (dto.gearImageDTOList[0] !== null){
                    str += "<img class='card-img-top' src='"+dto.gearImageDTOList[0]?.thumbnailS3URL+"' data-gno='"+dto.gno+"'>";
                }else {
                    str += "<img class='card-img-top' src='/icon/img3.svg' style='height: 100%' data-gno='"+dto.gno+"'>";
                }

                str += '<div class="card-body gear-script">'
                if(dto.state == '1'){
                    str += '    <p class="card-title">'+dto.gname+' <b>[중고거래중]</b></p>';
                }else if(dto.state == '0'){
                    str += '    <p class="card-title">'+dto.gname+'</p>';
                }

                // str += '<ul class="list-group list-group-flush">';
                // if(dto.brand){
                //     str += '    <li class="list-group-item" >'+dto.brand+'</li>';
                // }
                // if(dto.sort){
                //     str += '    <li class="list-group-item">'+dto.sort+'</li>';
                // }
                // str += '</ul>';
                str += '</div>';
                str += '</div>';
                str += '</div>';

            }) // dtoList each

            gearList.html(str);
        }

        // pagination 업로드
        function makingPagination(data){

            var gearPageUl = $(".pagination");

            var str = "";

            $(data).each(function (i, dto){

                console.log(dto);

                $.each(dto.pageList, function (i, page){
                    str += '<li class="page-link">';
                    str += '<a href="'+page+'">'+page+'</a>';
                    str += '</li>';
                })

            }) // pageList each

            gearPageUl.html(str);

        } //makingPagination

        var page = 1;

        // pagination 클릭시 이베트
        $(".list-pagination ul").on("click", "a", function (e){

            e.preventDefault();

            console.log("clicking");

            var targetPage = $(this).attr("href");

            page = targetPage;

            console.log(page);

            loadGearBoxes(page);

        })


        // 기어선택 클릭 이벤트
        $(".gear-data-boxes").on("click", ".selecting-gear", function (){

            if (!confirm("해당 장비로 변경하시겠습니까?")){
                return;
            }

            $('#summernote').summernote('reset');

            var gno = $(this).data("gno");

            console.info(gno);

            var str =""

            var hiddenGearBox = $(".hidden-gear-box");

            str += '<input type="hidden" name="gno" value="'+gno+'">';
            str += '<input type="hidden" name="state" value="1">';

            hiddenGearBox.html(str);

            $.getJSON('/gear/myGear/' + gno, function (dto){

                var name = dto.gname;
                var brand = dto.brand;
                var size = dto.size;
                var material = dto.material;
                var script = dto.script;
                var sort = dto.sort;
                var state = dto.state;

                // var HTMLString = '<div><p>이름: '+name+'</p><p>브랜드: '+brand+'</p><p>사이즈: '+size+'</p>' +
                //     '<p>소재: '+material+'</p><p>설명: '+script+'</p><p><br></p></div>'

                var HTMLString = '<div><p>'+name+'</p><p>'+brand+'</p><p>'+size+'</p>' +
                    '<p>'+material+'</p><p>'+script+'</p><p><br></p></div>'

                $('#summernote').summernote('pasteHTML', HTMLString);

            }); // getJSON for gear info


            $.getJSON('/gear/images/' + gno, function (arr){

                console.info("---------/gear/images/'----------");

                console.info(arr);

                $.each(arr, function (i, dto){

                    if (dto !== null){
                        $('#summernote').summernote('insertImage', dto.s3Url);
                    }else {
                        console.info("there are no avalable images");
                    }
                });

            }); // getJSON for images



        }); // 기어선택 클릭 이벤트 종료



        $(".gear-data-boxes").on("click", ".unable-gear", function (){
            alert("이미 중고 거래 등록된 상태입니다.");
            return false;
        })

        var gearDTO = [[${gearDTO}]];
        var secondHandsDeal = [[${tellCategory}]];
        console.log(gearDTO)

        // 선택된 중고 상품 editor로 업로드 from myGear
        if(gearDTO !== null){

            var gno = gearDTO.gno;
            console.log(gno);

            $.getJSON('/gear/myGear/' + gno, function (dto){

                var name = dto.gname;
                var brand = dto.brand;
                var size = dto.size;
                var material = dto.material;
                var script = dto.script;
                var sort = dto.sort;
                var state = dto.state;

                var HTMLString = '<div><p>'+name+'</p><p>'+brand+'</p><p>'+size+'</p>' +
                    '<p>'+material+'</p><p>'+script+'</p><p><br></p></div>'

                $('#summernote').summernote('pasteHTML', HTMLString);

            }); // getJSON

            $.getJSON('/gear/images/' + gno, function (arr){

                console.info("---------/gear/images/'----------");

                console.info(arr);

                $.each(arr, function (i, dto){

                    if (dto !== null){
                        $('#summernote').summernote('insertImage', dto.s3Url);
                    }else {
                        console.info("there are no avalable images");
                    }
                });

            }); // getJSON for images

            var str = "";

            var hiddenGearBox = $(".hidden-gear-box");

            str += '<input type="hidden" name="gno" value="'+gno+'">';
            str += '<input type="hidden" name="state" value="1">';

            hiddenGearBox.html(str);

        } // load gearDTO from myGear


        $(".page-info").click(function (){
            $(".intro-myProject").modal('show');
        })




    }); // the end


</script>


</html>