
.boardListBoxes{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 58px;
    margin: 10px 0px;
}

.pagination{
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

.boardList-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex: 91%;
}

.img-box{
    flex: 17%;
    max-width: 230px;
    height: 92%;
}

.img-thumbnail{
    height: 100%;
}

.img-thumbnail-div{
}

.board_thumbnail_img{
    height: 100%;
    border-radius: 5px;
}

.board-title-a{
    display: flex;
    flex-direction: column;
}

.board-memberName{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.board-replyCount{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 9px;
}

.board-title-div{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

#board-title{
    color: #000;
    font-size: 1.1em;
}

.list-pagination{
    display: flex;
    justify-content: center;
}

.search-box{
    display: flex;
    /*width: 400px;*/
    justify-content: space-between;
}

.search-box input {
    width: 400px;
}

.list-form-select{
    display: flex;
    flex-direction: row;
}

.form-select{
    width: 130px;
}
.wrapper-list{
    margin-top: 16px;
    border-top: 21px solid lightblue;
}

.wrapper-list a{
    text-decoration: none;
}

.availImg{
    margin-left: 9px;
}

.profile-img-div{
    height: 75%;

}

.profile-img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.userLink{
    margin-left: 7px;
    color: #000000c9;
}

.reply-count{
    margin-left: 4px;
}

.board-list-category{
    display: flex;
    flex-direction: row;
}

.board-list-category-link{
    margin-left: 20px;
    font-size: 0.8em;
    align-self: flex-end;
    margin-left: 20px;
    text-decoration: none;
    color: #808080b8;
}

.content{
    margin-top: 25px;
}

.list-register-btn{
    width: 5em;
}

.list-img-object-fit-box{
    width: 60px;
    height: 100%;
}

.availImg{
    width: 100%;
    object-fit: cover;

}

.category-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.category-header span{
    margin-right: 9px;
    padding: 5px;
    border-radius: 7px;
}

.category-header a{
    text-decoration: none;
    color: #000000c9;
}
.active{
    background-color: #d6dcdf;
}

.unableImg{
    width: 100%;

}

.pagination-active{
    background-color: lightgray;
}

.unableImg{
    margin-left: 9px;
}

.page-link{
    color: #000000c9;
}