a{
    text-decoration: none;
}
.reply-box{
    /*border: 1px solid black;*/
    /*margin-bottom: 20px;*/
    padding: 18px 25px 24px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    border: 1px solid #000000c9;
}

.replyModifyingForm{
    display: none;
}

.read-title{
    font-size: 26px;
    color: #000;
    margin: 10px 0px;
}


.writer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #f0efef;
}

.writer-nameNDate{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.writer-nameNDate a{
    margin-right: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.readBoard-btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 34px;
    text-align: center;

}

.read-reply-box{
    background: #fafafa;
    display: flex;
    height: 207px;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

.read-reply-form{
    width: 100%;
    padding: 10px 60px 10px 60px;
}

.reply-textarea{
    width: 100%;
    /*height: 120px;*/
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
    font-size: 14px;
}

.read-reply-btn{
    display: flex;
    position: static;
    margin-top: 10px;
    justify-content: flex-end;
}

.reply-writer-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 40px;
}
.reply-writer-info img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.reply-writer{
    margin: 0px 18px;
    font-weight: 600;
    align-self: center;
}
.reply-regDate{
    color: #aaa;
    align-self: center;
}

.reply-text{
    font-size: 14px;
    color: #3d3d3d;
    font-weight: normal;
    line-height: 1.714;
    padding: 0px 16px;
}

.reply-text p{
    word-break: break-all;
}

.container replyContainer{

}

.ckEditor-content{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.profile-img-div{
    height: 46px;
    width: 46px;
    margin-right: 15px;
}

.writer-nameNDate a span{
    color: #000000c9;
}

.profile-img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.read-ragDate{
    margin-left: 20px;
}

.reply-box-content{
    width: 100%;

}

.reply-modify-div{
    display: flex;
    flex-direction: column;
}

.reply-modify-div button{
    width: 60px;
    margin: 5px;
}

.modify-textarea{
    display: none;
    width: 100%;
    height: 100px;
}

.firstBtn{
    border-radius: 10px;
    background-color: #c5e8ef;
    border: saddlebrown;
}
.secondBtn{
    display: none;
    border-radius: 10px;
    background-color: #c5e8ef;
    border: saddlebrown;
}

.telling-box{
    position: fixed;
    right: 80px;
    background: #fafafa;
    padding: 20px;
    border-radius: 25px;
    width: 356px;
    z-index: 999;
    top: 178px;
}

.telling-box div{
    display: flex;
    flex-direction: row;

}

.read-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.page-info{
    height: 100%;
    align-self: center;
}

.read-btn-box{
    display: flex;
    flex-direction: row;
    text-align: center;

}

.read-btn-box button{
    margin-left: 10px;
    height: 100%;
}

.modifyBtn {
    width: 4em;
}

.read-reply-btn a{
    height: 100%;
    text-align: center;

}
.read-reply-btn button{
    height: 100%;
    margin-left: 12px;
}

.back-to-list{
    height: 100%;
    width: 73px;

}

.removeBtn{
    width: 4em;

}

.marketDealDone{
    width: 6em;
}

.party-member-gear{
    display: flex;
    flex-direction: row;
    flex: 70%;
    max-width: 70%;

}

.party-member-gear-img-box{
    width: 60px;
    height: 100%;
    align-items: center;
    display: flex;
}

.party-member-gear-img-box img{
    width: 100%;
    height: 85%;
}
.available-gear-img {
    width: 100%;
    object-fit: cover;
}

.available-profile-img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.party-member-box{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    justify-content: space-between;
    height: 7vh;
    padding: 1%;
}

.party-member-img-box{
    height: 43px;
}

.party-member-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 30%;
    max-width: 30%;
    justify-content: end;

}

.party-gear-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 1em;
}

.unable-gear-img{
    width: 100%;
    /*height: 100%;*/
}

.join-party{
    margin: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px;
}

.join-party button{
    margin-right: 15px;
}

.underConst{
    background: lightblue;
    margin-top: 30px;
}


/* 파티 맴버 캠핑 장비 올 리스트    */
.party-member-gear-box{
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 1px solid;
    justify-content: space-between;
}

.party-gear-img{
    height: 100%;

}
.party-gear-img img{
    height: 100%;
}

.party-member-img-div{
    height: 45px;
}
.availableProfile img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}


/* 로그인 사용자의 캠핑 장비들 리스트    */
.myGear-list-box{
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 1px solid;
}

.myGear-img-box{
    height: 100%;
}

.myGear-img-box img{
    height: 100%;
}

.myGear-info{
    display: flex;
    flex-direction: row;
}

.list-pagination{
    margin: 17px 0px;
}

.sortBtn-box{
    display: none;
    padding: 10px;
    border-radius: 15px;
    row-gap: 0.1em;
    top: 45px;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    background: #fafafa;
}

.sort-boxing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 43px;
    /*margin-bottom: 27px;*/
    padding: 0px 20px;
}

.sort-boxing input {
    width: 380px;
}

.sort-btn-boxing{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    /*margin: 16px 0px;*/
    position: relative;
}

.sort-boxing button{
    width: 75px;
}

.reboot-sort{
    margin-right: 12px;
    height: 59%;
}

.reboot-sort:hover{
    cursor: pointer;
}

.party-gear-btn-box{
    margin-left: 14px;
}

.party-member-name{
    margin-left: 8px;
}

.party-gear-sort{
    display: flex;
    align-self: start;
}

.party-applicant-list-boxes{
    display: flex;
    flex-direction: row;
    height: 58px;
    align-items: center;
    margin-bottom: 10px;
}

.party-applicant-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}


.party-applicant-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #faf8fd;
    border-radius: 12px;
}

.applicant-profile img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.applicant-profile{
    height: 100%;
}

.party-applicant-name{
    margin-left: 10px;
}

.party-counting-applicant{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #faf8fd;
    border-radius: 12px;
    height: 8vh;
}

.party-counting{
    display: flex;
    flex-direction: row;
}

.party-appointment-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #faf8fd;
    border-radius: 12px;
    height: 8vh;
}

.party-info-wrapper{
    display: flex;
    margin-bottom: 80px;

}


.party-member-info-wrapper{
    flex: 50%;
    max-width: 50%;
    border-top: 1px solid #f0efef;
    border-bottom: 1px solid #f0efef;
    padding: 10px;
}
.party-gear-info-wrapper{
    flex: 50%;
    max-width: 50%;
    border-top: 1px solid #f0efef;
    border-left: 1px solid #f0efef;
    border-bottom: 1px solid #f0efef;
}

.party-member-list{
    /*padding: 0px 20px;*/
    margin: 10px;
    border-top: 1px solid #000000c9;
    /*border-left: 1px solid #000000c9;*/
    /*border-right: 1px solid #000000c9;*/
}

.unable{
    background-color: #dfdfdf;
}

.page-link a{
    text-decoration: none;
    color: #000000c9;
}

.NoAvailable{
    padding: 0px 20px 20px;
}

.btnAddMyGear a{
    text-decoration: none;
}

.addMyGear{
    display: none;
}