
*{color: #000000c9;}

a{
    /*text-decoration: none;*/
    color: #000000c9;
}


.party-main {
    margin: 45px 35px;
    /*padding: 0 10px 100px;*/
    /*width: 960px;*/
    height: 100%;
}

.party-container {
    /*margin: auto 35px;*/
    padding: 0;
    height: 100%;
}

.party-container:after{
    content:'';
    display:block;
    clear:both;
}

.party-item {
    margin-bottom: 5px;
    /*background:silver;*/
    /*padding:20px;*/
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    height: 43vh;
    /*border: 3px solid red;*/
    /*background: #faf8fd;*/
}

.party-item-link:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.party-item:nth-child(4n) {
    margin-right:0;
}


/*  이미지를 로딩하는 동안 보이지 않게 함*/
.party-item.is-loading {
    opacity: 0;
}

.available-party-img{
    width: 100%;
}

.party-item-img{
    flex: 90%;
    max-height: 70%;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.party-item-img img{
    border-radius: 20px;
}

.party-item-date{
    flex: 10%;
    max-height: 10%;
}

.party-item-title{
    flex: 10%;
    max-height: 12%;
    margin-top: 7px;
    font-weight: 700;
    margin-bottom: 5px;
}

.party-item-link{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 13px;
    background: #faf8fd;
    border-radius: 15px;
}

.none-party-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.available-party-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.party-main{
}

.party-container-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



.semi-list-wrapper{
    display: flex;
    border-top: 1px solid #80808069;
    border-bottom: 1px solid #80808069
}

.semi-list-info{
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.semi-list-li{
    height: 85px;
}

.semi-list-li:hover{
    background-color: #fff;
}
.semi-list-li a{
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}


.semi-list-img{
    height: 100%;
    border-radius: 5px;
    width: 85px;
    object-fit: cover;
}

/* 잡담 리스트 */

.talk-main{
    flex: 50;
    max-width: 50%;
    padding: 54px;
    border-right: 1px solid #f0efef;
}


.talk-list-ul{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #faf8fd;
    padding: 20px;
}



/*  중고거래 리스트   */


.secondHands-main{
    flex: 50;
    max-width: 50%;
    padding: 54px;
}

.secondHands-list-ul{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #faf8fd;
    padding: 20px;
}

.semi-list-loadMore{
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}

.semi-list-loadMore a{
    text-decoration: none;
    color: #0000009e;

}


.semi-list-title{
    font-weight: 300;
}

.content{
    margin-top: 50px;
}
.home-head-info{
    margin: 23px 35px;
}

.home-head-info a{
    /*text-decoration: none;*/
    color: #000000c9;
}

.party-item-location{
    display: flex;
    flex-direction: row;

}

.icon-location{
    height: 24px;
    width: 24px;
}
.party-item-person{
    margin-left: 24px;
    margin-top: 3px;
}
