.input-group-text{
    /*width: 30%;*/
}

.signIn-Btn{
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;

}

.signIn-page-wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.content{
    margin-top: 25px;
}

.signIn-body{
    margin-top: 15px;

}