<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>

  .index-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 31px;
  }

  .resume-box{
    width: 50%;
    align-self: center;
    margin-bottom: 14px;
  }

  .index-about-this p {
    margin-bottom: 5px;
  }

  .index-name{
    margin-bottom: 20px;
  }

  </style>

</head>

<div class="container-lg content" layout:fragment="content">

  <div>
    <h4>hello world</h4>
  </div>

</div> <!--/ container content  /-->



</html>